$surface-lvl-0__100__yellow: #101112;
$surface-lvl-1__100__yellow: #131415;

$header-background__yellow: #131415;

$color-main__100__yellow: #ffce2f;
$color-main-red__100__yellow: #ff3222;
$color-main-green__100__yellow: #2bcd24;
$color-main-blue__100__yellow: #0077ff;
$color-main-pink__100__yellow: #ff76ff;
$color-main-yellow__100__yellow: #ffce2f;

$color-label-initial__100__yellow: #ffffff80;

$color-text-button-initial__100__yellow: #101112;
