$surface-lvl-0__100__pink: #101112;
$surface-lvl-1__100__pink: #131415;

$header-background__pink: #131415;

$color-main__100__pink: #ff76ff;
$color-main-red__100__pink: #ff3222;
$color-main-green__100__pink: #2bcd24;
$color-main-blue__100__pink: #0077ff;
$color-main-pink__100__pink: #ff76ff;
$color-main-yellow__100__pink: #ffce2f;

$color-label-initial__100__pink: #ffffff80;

$color-text-button-initial__100__pink: #101112;
