@font-face {
  font-family: Georgian;
  src: url('/assets/fonts/georgian.otf') format('truetype');
}

@font-face {
  font-family: GeorgianMtavruli;
  src: url('/assets/fonts/georgian_mtavruli.otf') format('truetype');
}

