$surface-lvl-0__100__red: #101112;
$surface-lvl-1__100__red: #131415;

$header-background__red: #131415;

$color-main__100__red: #ff3222;
$color-main-red__100__red: #ff3222;
$color-main-green__100__red: #2bcd24;
$color-main-blue__100__red: #0077ff;
$color-main-pink__100__red: #ff76ff;
$color-main-yellow__100__red: #ffce2f;

$color-label-initial__100__red: #ffffff80;

$color-text-button-initial__100__red: #101112;
